In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import haversine
from haversine import haversine, Unit

In [2]:
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12, 8)

In [3]:
df = pd.read_csv(r"C:\Users\Kevin Jiang\Documents\GitHub\newyork_airbnb\listings.csv")

C:\Users\Kevin Jiang\AppData\Local\Temp\ipykernel_29240\3808356539.py:1: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\Kevin Jiang\Documents\GitHub\newyork_airbnb\listings.csv")

In [4]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,30,48,2019-11-04,0.32,3,334,0,NaN
1,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,2019-12-02,0.32,2,365,0,NaN
2,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,5,2,2021-08-08,0.02,1,201,1,NaN
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,68,2,520,2022-02-18,3.33,1,154,46,NaN
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80380,-73.96751,Private room,75,2,118,2017-07-21,0.77,1,0,0,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37631 entries, 0 to 37630
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              37631 non-null  int64
 1   name                            37617 non-null  object
 2   host_id                         37631 non-null  int64
 3   host_name                       37544 non-null  object
 4   neighbourhood_group             37631 non-null  object
 5   neighbourhood                   37631 non-null  object
 6   latitude                        37631 non-null  float64
 7   longitude                       37631 non-null  float64
 8   room_type                       37631 non-null  object
 9   price                           37631 non-null  int64
 10  minimum_nights                  37631 non-null  int64
 11  number_of_reviews               37631 non-null  int64
 12  last_review                     28657 non-null  object
 13  reviews_per_month               28657 non-null  float64
 14  calculated_host_listings_count  37631 non-null  int64
 15  availability_365                37631 non-null  int64
 16  number_of_reviews_ltm           37631 non-null  int64
 17  license                         1 non-null      object
dtypes: float64(3), int64(8), object(7)
memory usage: 5.2+ MB

In [6]:
df_filled = df.copy()

In [7]:
# 
df_filled['last_review'] = df_filled['last_review'].astype(str)
df_filled['id'] = df_filled['id'].astype(str)
df_filled['host_id'] = df_filled['host_id'].astype(str)

In [8]:
df_filled.dtypes

id                                 object
name                               object
host_id                            object
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
dtype: object

In [9]:
# fill null values

In [10]:
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, pct_missing))

# for col in df_filled.columns:
#     pct_missing = np.mean(df_filled[col].isnull())
#     print('{} - {}%'.format(col, pct_missing))

id - 0.0%
name - 0.0003720336956232893%
host_id - 0.0%
host_name - 0.0023119236799447264%
neighbourhood_group - 0.0%
neighbourhood - 0.0%
latitude - 0.0%
longitude - 0.0%
room_type - 0.0%
price - 0.0%
minimum_nights - 0.0%
number_of_reviews - 0.0%
last_review - 0.23847359889452846%
reviews_per_month - 0.23847359889452846%
calculated_host_listings_count - 0.0%
availability_365 - 0.0%
number_of_reviews_ltm - 0.0%
license - 0.9999734261645984%

In [11]:
df_filled.dtypes

id                                 object
name                               object
host_id                            object
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
dtype: object

In [12]:
df_filled['name'] = df_filled['name'].fillna('Unavailable')

In [13]:
df_filled['host_name'] = df_filled['host_name'].fillna('Unavailable')

In [14]:
df_filled['last_review'] = df_filled['last_review'].fillna('Unavailable')

In [15]:
df_filled['reviews_per_month'] = df_filled['reviews_per_month'].fillna(0.00)

In [16]:
for col in df_filled.columns:
    pct_missing = np.mean(df_filled[col].isnull())
    print('{} - {}%'.format(col, pct_missing))

id - 0.0%
name - 0.0%
host_id - 0.0%
host_name - 0.0%
neighbourhood_group - 0.0%
neighbourhood - 0.0%
latitude - 0.0%
longitude - 0.0%
room_type - 0.0%
price - 0.0%
minimum_nights - 0.0%
number_of_reviews - 0.0%
last_review - 0.0%
reviews_per_month - 0.0%
calculated_host_listings_count - 0.0%
availability_365 - 0.0%
number_of_reviews_ltm - 0.0%
license - 0.9999734261645984%

In [17]:
# separate month from last review
df_month = df_filled.copy()

In [18]:
df_month['month'] = df_month['last_review'].str.split('-',expand = True)[1]

In [19]:
df_month.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,month
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,30,48,2019-11-04,0.32,3,334,0,NaN,11
1,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,2019-12-02,0.32,2,365,0,NaN,12
2,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,5,2,2021-08-08,0.02,1,201,1,NaN,08
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,68,2,520,2022-02-18,3.33,1,154,46,NaN,02
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80380,-73.96751,Private room,75,2,118,2017-07-21,0.77,1,0,0,NaN,07

In [20]:
df_month['month'] = df_month['month'].str.strip()

In [21]:
month_convert = {'01' : 'January', '02' : 'February', '03' : 'March', '04' : 'April', '05' : 'May', '06' : 'June', '07' : 'July', '08' : 'August', '09' : 'September', '10' : 'October', '11' : 'November', '12' : 'December'}

In [22]:
df_month['month'] = df_month['month'].map(month_convert)

In [23]:
df_month.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,month
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,30,48,2019-11-04,0.32,3,334,0,NaN,November
1,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,2019-12-02,0.32,2,365,0,NaN,December
2,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,5,2,2021-08-08,0.02,1,201,1,NaN,August
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,68,2,520,2022-02-18,3.33,1,154,46,NaN,February
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80380,-73.96751,Private room,75,2,118,2017-07-21,0.77,1,0,0,NaN,July

In [24]:
# combine latitude longitude
df_coord = df_month.copy()

In [25]:
locations_df = df_coord[["latitude","longitude"]]
locations_df = locations_df.to_records(index = False)
df_coord['listing_coordinates'] = list(locations_df)

In [26]:
df_coord.dtypes

id                                 object
name                               object
host_id                            object
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
month                              object
listing_coordinates                object
dtype: object

In [27]:
# df_coord['listing_coordinates'] = [', '.join(str(x) for x in y) for y in map(tuple, df_coord[['latitude', 'longitude']].values)]

In [28]:
df_coord.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,month,listing_coordinates
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,30,48,2019-11-04,0.32,3,334,0,NaN,November,"[40.75356, -73.98559]"
1,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,2019-12-02,0.32,2,365,0,NaN,December,"[40.68535, -73.95512]"
2,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,5,2,2021-08-08,0.02,1,201,1,NaN,August,"[40.66265, -73.99454]"
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,68,2,520,2022-02-18,3.33,1,154,46,NaN,February,"[40.76457, -73.98317]"
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80380,-73.96751,Private room,75,2,118,2017-07-21,0.77,1,0,0,NaN,July,"[40.8038, -73.96751]"

In [29]:
df_mapped = df_coord.copy()

In [30]:
# df_mapped.to_csv(r"C:\Users\Kevin Jiang\Documents\GitHub\newyork_airbnb\dataframe1.csv", index = False, header = True)

In [31]:
df_mapped['neighbourhood_group'].unique()

array(['Manhattan', 'Brooklyn', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

In [32]:
# Coordinates of major attractions
brooklyn_bridge = (40.706001,-73.997002)
central_park = (40.769361,-73.977655)
citi_field = (40.75416365,-73.84082997)
staten_island_ferry = (40.643333,-74.074167) 
bronx_zoo = (40.852905,-73.872971)

In [33]:
# # coordinates of tripadvisor top attractions in NY
# national_nine_eleven_museum = (40.71143501059098, -74.0124759199355)
# brooklyn_botanical_garden = (40.66958621787518, -73.96240245978585)
# brooklyn_heights_promenade = (40.69638066943419, -73.9975465174908)
# cave_of_the_winds = (43.08266297158573, -79.07071230379647)
# dumbo_bridgeview = (40.703391260685244, -73.9895953894485)
# frank_martin_house = (42.93631918093334, -78.84797927318274)
# dyker_heights_christmas = (40.62100485913753, -74.01529523126628)
# museum_of_play = (43.15177884978878, -77.6006016730354)
# metropolitan_museum = (40.77967218045188, -73.9632547307797)
# ny_botanical_garden = (40.86156379197272, -73.8809242021451)
# yankee_stadium = (40.82981299195635, -73.92623889021917)
# niagara_falls_state_park = (43.083610774520274, -79.06442669348898)
# brooklyn_bridge_park = (40.699202450331136, -73.99759503751963)
# rosamond_zoo = (43.04350442277419, -76.18108513071107)
# ny_state_museum = (42.648777861468595, -73.76115037305094)

In [34]:
# dictionary mapping neighbourhood with attraction
dmap_locations = {'Brooklyn' : 'Brooklyn Bridge', 'Manhattan' : 'Central Park', 'Queens' : 'Citi Field', 'Staten Island': 'St. Georges Ferry Terminal', 'Bronx': 'Bronx Zoo'}

In [35]:
# dictionary mapping neighbourhood with attraction coordinates
dmap_coordinates = {'Brooklyn': brooklyn_bridge, 'Manhattan': central_park, 'Queens': citi_field, 'Staten Island': staten_island_ferry, 'Bronx': bronx_zoo}

In [36]:
df_mapped['attraction_location'] = df_mapped['neighbourhood_group'].map(dmap_locations)

In [37]:
df_mapped['attraction_coordinates'] = df_mapped['neighbourhood_group'].map(dmap_coordinates)

In [38]:
df_mapped.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,month,listing_coordinates,attraction_location,attraction_coordinates
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,...,2019-11-04,0.32,3,334,0,NaN,November,"[40.75356, -73.98559]",Central Park,"(40.769361, -73.977655)"
1,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,...,2019-12-02,0.32,2,365,0,NaN,December,"[40.68535, -73.95512]",Brooklyn Bridge,"(40.706001, -73.997002)"
2,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,...,2021-08-08,0.02,1,201,1,NaN,August,"[40.66265, -73.99454]",Brooklyn Bridge,"(40.706001, -73.997002)"
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,68,...,2022-02-18,3.33,1,154,46,NaN,February,"[40.76457, -73.98317]",Central Park,"(40.769361, -73.977655)"
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80380,-73.96751,Private room,75,...,2017-07-21,0.77,1,0,0,NaN,July,"[40.8038, -73.96751]",Central Park,"(40.769361, -73.977655)"

In [39]:
df_distance = df_mapped.copy()

In [40]:
df_distance.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,month,listing_coordinates,attraction_location,attraction_coordinates
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,...,2019-11-04,0.32,3,334,0,NaN,November,"[40.75356, -73.98559]",Central Park,"(40.769361, -73.977655)"
1,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,...,2019-12-02,0.32,2,365,0,NaN,December,"[40.68535, -73.95512]",Brooklyn Bridge,"(40.706001, -73.997002)"
2,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,...,2021-08-08,0.02,1,201,1,NaN,August,"[40.66265, -73.99454]",Brooklyn Bridge,"(40.706001, -73.997002)"
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,68,...,2022-02-18,3.33,1,154,46,NaN,February,"[40.76457, -73.98317]",Central Park,"(40.769361, -73.977655)"
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80380,-73.96751,Private room,75,...,2017-07-21,0.77,1,0,0,NaN,July,"[40.8038, -73.96751]",Central Park,"(40.769361, -73.977655)"

In [41]:
df_distance.dtypes

id                                 object
name                               object
host_id                            object
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
month                              object
listing_coordinates                object
attraction_location                object
attraction_coordinates             object
dtype: object

In [42]:
df_distance['distance_to_attraction'] = df_distance.apply(lambda x: haversine(x.listing_coordinates, x.attraction_coordinates, unit = Unit.MILES), axis = 1)
df_distance['distance_to_attraction'] = df_distance['distance_to_attraction'].round(2)

In [43]:
df_distance.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,month,listing_coordinates,attraction_location,attraction_coordinates,distance_to_attraction
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,...,0.32,3,334,0,NaN,November,"[40.75356, -73.98559]",Central Park,"(40.769361, -73.977655)",1.17
1,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,...,0.32,2,365,0,NaN,December,"[40.68535, -73.95512]",Brooklyn Bridge,"(40.706001, -73.997002)",2.62
2,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,...,0.02,1,201,1,NaN,August,"[40.66265, -73.99454]",Brooklyn Bridge,"(40.706001, -73.997002)",3.00
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,68,...,3.33,1,154,46,NaN,February,"[40.76457, -73.98317]",Central Park,"(40.769361, -73.977655)",0.44
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80380,-73.96751,Private room,75,...,0.77,1,0,0,NaN,July,"[40.8038, -73.96751]",Central Park,"(40.769361, -73.977655)",2.44

In [44]:
df_distance.to_csv(r"C:\Users\Kevin Jiang\Documents\GitHub\newyork_airbnb\dataframe1.csv", index = False, header = True)